.sidebar-wrapper {
  display: flex;
  width: 88px;
  padding: 40px 21px;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  gap: 32px;
  border-radius: 0px 16px 16px 0px;
  background: var(--sidenav-base);
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  overflow-y: auto;
  z-index: 999;
  transition: all 0.3s ease;
  @media (max-width: 768.98px) {
    &.mobile-menu-open {
      width: 317px;
      justify-content: flex-start;
      align-items: flex-start;
      z-index: 1100;
    }
    &.mobile-menu-close {
      width: 0px;
      min-width: 0px;
      overflow: hidden;
      padding: 40px 0px;
    }
  }
  .sidebar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    width: 100%;
  }
  .sidebar-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    @media (max-width: 768.98px) {
      align-items: start;
    }
    .sidebar-item {
      width: 100%;
      .sidebar-item-link {
        display: flex;
        margin-bottom: 16px;
        padding: 8px;
        width: 100%;
        text-decoration: none;
        @media (max-width: 768.98px) {
          padding: 16px;
        }
        justify-content: flex-start;
        align-items: center;
        gap: 16px;
        align-self: stretch;
        border-radius: 8px;
        &:hover,
        &.active {
          background: var(--SideNav-Hover, #333);
          svg {
            path {
              fill: var(--secondary-200);
            }
          }
        }
      }
    }
  }
}
