@import "../../../assets/styles/typography.scss";
.multiselect-wrapper {
  .MuiFormLabel-root {
    @include body1;
    color: var(--text-secondary);
    &.Mui-focused {
      color: var(--text-secondary);
    }
  }
  .MuiInputBase-root {
    &.MuiOutlinedInput-root {
      .MuiOutlinedInput-notchedOutline {
        border-color: var(--input-outlined-enabled-border);
        border-width: 1px;
      }
    }
  }
  .multiselect-medium {
    height: 48px;
    .MuiSelect-select {
      padding: 12px 16px;
      @include body1;
    }
  }

  .multiselect-small {
    .MuiSelect-select {
      padding: 8px 12px;
    }
  }

  .multiselect-large {
    height: 56px;
    .MuiSelect-select {
      padding: 16px 20px;
    }
  }

  .multiselect-rounded-full {
    border-radius: 100px;
  }

  .multiselect-rounded-medium {
    border-radius: 12px;
  }

  .multiselect-rounded-none {
    border-radius: 0;
  }

  .multiselect-rounded-small {
    border-radius: 8px;
  }
}
