@import "../../../assets/styles/typography.scss";
.MuiFormControl-root {
  display: flex;
  flex-direction: column;
  gap: 8px;
  &.select-wrapper {
    &.month-select-wrapper {
      min-width: 130px;
    }
    .MuiFormLabel-root {
      color: var(--text-secondary);
      &.select-medium {
        top: -8px;
      }
      &.Mui-focused,
      &.MuiInputLabel-shrink {
        color: var(--text-secondary);
        top: 0px;
      }
    }
    &.fullWidth {
      width: 100%;
    }

    .select-common {
      border-radius: 8px;
      @include subtitle1;
      text-transform: capitalize;
      width: 100%;

      &.MuiSelect-standard {
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 100px;
        border: 1px solid var(--Teal-Teal-200, #c7dee2);
      }

      &.MuiOutlinedInput-root {
        .MuiSelect-select {
          min-height: auto;
        }
        color: var(--text-primary);
        .MuiOutlinedInput-notchedOutline {
          border-color: var(--input-outlined-enabled-border);
          border-width: 1px;
        }
      }

      &.select-rounded-full {
        border-radius: 100px;
      }
      &.select-rounded-medium {
        border-radius: 12px;
      }

      &.select-rounded-none {
        border-radius: 0;
      }

      &.select-small {
        .MuiSelect-select {
          padding: 4px 8px;
          font-size: 12px;
        }
      }

      &.select-medium {
        height: 40px;
        .MuiSelect-select {
          padding: 8px 12px;
        }
      }

      &.select-large {
        height: 56px;
        .MuiSelect-select {
          font-size: 16px;
        }
      }
    }
  }
}
