.client-management-table {
  & .rdt_TableCol,
  & .rdt_Pagination,
  & .rdt_TableCell {
    background-color: var(--background-default) !important;
  }



  & .rdt_TableRow {
    & .rdt_TableCell {
      cursor: pointer !important;
    }
  }
}

.client-registered-device-details-table,
.client-user-details-table,
.client-region-manager-table {
  & .rdt_TableHeadRow {
    & .rdt_TableCol {
      height: unset !important;
    //   white-space: nowrap !important;
    //   flex-basis: unset !important;
    //   min-width: unset !important;
    }
  }
  & .rdt_TableRow {
    & .rdt_TableCell {
      height: unset !important;
    //   white-space: nowrap !important;
    //   flex-basis: unset !important;
    //   min-width: unset !important;
    }
  }

  & .table-common {
    overflow-x: hidden;
  }
}
