@import "../../../assets/styles/typography.scss";
.table-wrapper {
  .table-common {
    .rdt_TableHead {
      .rdt_TableCol {
        padding: 16px 16px;
        background-color: var(--library-clickableLayer);    
          @include subtitle2;
        white-space: nowrap;
        &:first-child {
            min-width: 58px;
          }
        .MuiCheckbox-root{
          padding: 0;
        }
      }
    }
    .rdt_TableBody {
      .rdt_TableCell {
        padding: 16px 16px;
        cursor: default;

        @include subtitle2;
        &:first-child{
          min-width: 58px;
        }
  .MuiCheckbox-root {
      padding: 0;
    }
       
      }
    }
    
  }
    
  .rdt_Pagination {
    @include text-xxs;
    .gKTQzt {
      color: var(--text-primary);
    }
    #pagination-first-page,
    #pagination-last-page {
      display: none;
    }
  }
    
}
