body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body * {
  // font-family: "Poppins", sans-serif !important;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p,
h6 {
  margin: 0;
  padding: 0;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.dashboard-layout-wrapper {
  display: flex;
  flex-direction: row;
}
.dashboard-layout-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.profile-wrapper {
  display: flex;
  flex-direction: column;
  .email-text {
    color: var(--text-secondary);
  }
}
.gray-container-table {
  border-radius: 24px;
  overflow: hidden;
  margin-top: 16px;
  .rdt_TableHeadRow,
  .rdt_Pagination,
  .rdt_TableRow {
    background-color: #f8f9fb;
  }
  &.dashboard-table {
    background-color: var(--primary-states-selected);

    .rdt_TableHeadRow,
    .rdt_Pagination,
    .rdt_TableRow {
      background-color: var(--primary-states-selected);
    }
  }
}
.light-container-table {
  border-radius: 24px;
  overflow: hidden;
  margin-top: 16px;
  .rdt_TableHeadRow,
  .rdt_TableRow {
    background-color: var(--white);
  }
}
