:root {
  ---action-hover: #0000000a;
  --text-primary: rgba(0, 0, 0, 0.87);
  --primary-main: #35326d;
  --text-secondary: rgba(0, 0, 0, 0.6);
  --text-active: rgba(0, 0, 0, 0.56);
  --text-contrast: #ffffff;
  --background-paper-elevation-0: #ffffff;
  --input-outlined-enabled-border: rgba(0, 0, 0, 0.23);
  --background-paper-elevation-2: rgba(0, 0, 0, 0.38);
  --primary-states-outlinedBorder: rgba(71, 57, 116, 0.5);
  --focus-visible: rgba(0, 0, 0, 0.3);
  --success-focus-visible: rgba(46, 125, 50, 0.3);
  --error-focus-visible: rgba(211, 47, 47, 0.3);
  --divider: rgba(0, 0, 0, 0.12);
  --success-dark: #1b5e20;
  --error-dark: rgba(198, 40, 40, 1);
  --error-main: #d32f2f;
  --warning-dark: rgba(230, 81, 0, 1);
  --blueGrey-50: #f8f9fb;
  --yellow-200: #fff59d;
  --yellow-500: #ffeb3b;
  --sidenav-base: #2c2c2c;
  --deeppurple-100: #d1c4e9;
  --bluegrey-100: #d3deeb;
  --alert-error-background: #fdeded;
  --secondary-50: #fde4f4;
  --secondary-200: #ffa2d6;
  --secondary-500: #e50096;
  --secondary-dark: #c7008e;
  --green: #07af4a;
  --orange: #ff912c;
  --red: #be1e2d;
  --dark-high-contrast-outline-variant: #cdc9d4;
  --action-selected: rgba(0, 0, 0, 0.08);
  --success-selected: rgba(46, 125, 50, 0.08);
  --error-selected: rgba(211, 47, 47, 0.08);
  --primary-states-selected: rgba(71, 57, 116, 0.08);
  --primary-states-focus: rgba(71, 57, 116, 0.12);
  --white: #ffffff;
  --black: #000000;
  --warning-main: #ef6c00;
  --success-main: #2e7d32;
  --info-main: #0288d1;
  --library-clickableLayer: rgba(0, 0, 0, 0);
  --background-default: #f8f9fb;
  --box-shadow-4: 0px 4px 8px -2px rgba(16, 24, 40, 0.1),
    0px 2px 4px -2px rgba(16, 24, 40, 0.06);
}
